    <link href="http://fonts.googleapis.com/earlyaccess/nanumpenscript.css" rel="stylesheet">
    <style>
        .fixed_footer {
            width: 1200px;
            height: 65px;
            background-image: url('/images/bg/woodBgBrown.png');
            background-size: cover;
            position: relative; 
            left: 0; 
            bottom: 0;
            z-index: -100;
            margin: auto;
            font-family: 'Nanum Pen Script', cursive;
}

footer #addArea{
    float: left;
    color: rgb(192, 161, 132);
    font-size:24px;
    padding: 0px 100px 0px 200px;
}

footer #nameArea{
    float: left;
    color: rgb(192, 161, 132);
    font-size:24px;
    padding: 0px 100px 0px 100px;
}

    </style>

<body>
    <footer class="fixed_footer">
            <div id="addArea">
                코리아IT아카데미 라떼는말이야<br>
                서울특별시 강남구 테헤란로 146 현악빌딩 3층, 4층<br>
            </div>
            <div id="nameArea">
                팀장: 김요한<br>
                팀원: 지정환/양석호/이승언
            </div>
        </footer>
    
</body>