<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>RAINBOW TAIL</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Pen+Script&family=Noto+Sans+KR&display=swap" rel="stylesheet">
<style>
    body{margin: 0px; background: url('/images/bg/bodyBg.jpg');background-size: cover;}

    #wrapper{
        width:1200px;
        height:800px;
        margin:auto;
        border:2px solid black;
        position:relative;
        background:url("/HwanGame/img/bg.jpg");
        background-repeat:no-repeat;
        background-Size:1200px 800px;
        /* opacity:0.8; */
        box-sizing: border-box;
    }
    #info{
        width:200px;
        height:795px;
        border:2px solid black;
        background: rgb(0, 0, 0);
        font-size: 20px;
        position: relative;
        float: right;
    }
    #scoreNum{
        width: 100%;
        height: 50px;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        color: #000;
        text-shadow: 2px 2px 4px rgb(128, 79, 24);
        font-family: 'Noto Sans KR', sans-serif;
        background-color: rgb(235, 205, 171);
        padding-bottom: 10px;
    }
    #scoreArray{
        margin: auto;
    }
    #score {
        width: 100%;
        height: 336px;
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        color: white;
    }
    #scoreRank {
        width: 100%;
        height: 400px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        color: whitesmoke;
    }
    th{
        font-size: 40px;
        background-color: rgb(235, 205, 171);
        text-align: center;
        font-weight: bold;
        font-family: 'Noto Sans KR', sans-serif;
        color: #000;
        text-shadow: 2px 2px 4px rgb(128, 79, 24);
    }
    tr{
        font-family: 'Noto Sans KR', sans-serif;
    }
</style>
<script src="/HwanGame/js/Whead.js"></script>
<script src="/HwanGame/js/Wbody.js"></script>
<script src="/HwanGame/js/lib.js"></script>
<!-- <script src="/HwanGame/js/BodyRole.js"></script> -->
<script src="/HwanGame/js/howler.js"></script>
<script>
var wrapper;
var info;
var score=0;

//머리 관련
var wHead;
var wArray=[];
var speed=50;

//몸통 관련
var wBodyArray=[];
var count=[0,50];

function init(){
    var sound = new Howl({
            src: ['/HwanGame/audio/bit/calm.wav'],
            autoplay: true,
            loop: true,
            volume: 0.5,
            onend: function() {
            console.log('Finished!');
        }
    });
    sound.play();

    //맵 등장
    wrapper=document.getElementById("wrapper");
    info=document.getElementById("info");

    //머리등장
    createHead();
    //몸통 몸통 생성
    createBody();

    document.body.addEventListener("keydown", function(){
    pressDown();
    });
}

//지렁이 머리
//container, src, width, height, x, y, velX, velY
function createHead(){
    wHead = new Whead(wrapper,"/HwanGame/img/item1.png",48,48,100,100,speed,0);
    wArray.push(wHead);
}

//방향키
function pressDown(){
    var key = event.keyCode;// 아스키 코드 구하기

    switch(key){
        case 39:wHead.velX=speed;wHead.velY=0;break;
        case 37:wHead.velX=-speed;wHead.velY=0;break;
        case 40:wHead.velY=speed;wHead.velX=0;break;
        case 38:wHead.velY=-speed;wHead.velX=0;break;
    }
    for(var i=wArray.length-1;i>=0;i--){
        wArray[i].render(); // 그래픽 처리
        wArray[i].tick(); //물리량 변화
    }
    count[0]=1;
}
//몸통 생성
function createBody(){
    var wBody = new Wbody(wrapper,"/HwanGame/img/body1.png",48,48,getRandom(950),getRandom(750),0,0);
    wBodyArray.push(wBody);
    count[1]--;
    count[1]=(count[1]<=1)?1:count[1];
}
function printScore(){
    document.getElementById("score").innerText=score+"점";
    //console.log(score);
}

//몸통 획득시.
function plusBody(){//container, src,width, height, x, y,velX,velY
    var body=new Wbody(wrapper,"/HwanGame/img/body1.png",48,48,-5000,0,0,0);
    wArray.push(body);
}
//획득 몸통과 충돌시
function collision(){
    // if(confirm("어이쿠 내 꼬리잖아TT^TT\n다시 시작 하시겠습니까?")){
    //     location.reload(); 
    // }
}

function gameLoop(){   
    //점수
    printScore();
    if(count[0]%count[1]==0){
        for(var i=wArray.length-1;i>=0;i--){
            wArray[i].render(); // 그래픽 처리
            wArray[i].tick(); //물리량 변화
        }       
    }
    //시간차 몸통들 생성
    if(count[0]%100==0){
        createBody();
    }
    count[0]++;
}

window.addEventListener("load", function(){
    init();
    setInterval("gameLoop()",10)
});
</script>
</img>
<body>
    <!-- header -->
    <%- include ('../inc/latte_top_navi.ejs')%>
    <div id="wrapper">
        <div id="info">
            <div id="scoreNum">Score</div>
            <div id="score"></div>
            <div id="scoreRank">
                <div id="scoreRankContent">
                    <table>
                        <tr>
                            <th colspan="3" style="text-align: center; width: 200px;" >전체랭킹</th>
                        </tr>
                    <%for(var i=0; i<7; i++){%>
                        <tr>
                            <td><%=rankindex1[i].ct_rank%></td>
                            <td><%=rankindex1[i].score_ct%></td>
                        </tr>
                    <%}%>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <%- include ('../inc/latte_footer.ejs')%>
</body>
</html>